<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DustInTheWind.ActiveTime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="WindowsFormsApplication1.Properties.Settings.db" connectionString="data source=C:\Projects\activetime\WindowsFormsApplication1\WindowsFormsApplication1\db.s3db" providerName="System.Data.SQLite"/>
	</connectionStrings>

	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<userSettings>
		<DustInTheWind.ActiveTime.Properties.Settings>
			<setting name="General_UserName" serializeAs="String">
				<value>Iuga Alexandru</value>
			</setting>
			<setting name="Reminder_PauseInterval" serializeAs="String">
				<value>01:00:00</value>
			</setting>
			<setting name="Reminder_SnoozeInterval" serializeAs="String">
				<value>00:03:00</value>
			</setting>
			<setting name="General_ConfirmExitApplication" serializeAs="String">
				<value>True</value>
			</setting>
		</DustInTheWind.ActiveTime.Properties.Settings>
	</userSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
