<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DustInTheWind.ActiveTime.ConfigurationAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DustInTheWind.ActiveTime.ConfigurationAccess.Properties.Settings>
            <setting name="Reminder_PauseInterval" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="Reminder_SnoozeInterval" serializeAs="String">
                <value>00:03:00</value>
            </setting>
        </DustInTheWind.ActiveTime.ConfigurationAccess.Properties.Settings>
    </userSettings>
</configuration>